<li class="dog_picture_item">
  <% if !f.object.data.blank? %>
    <%= image_tag f.object.data, size: "100x100"%>
    <br />
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Eliminar" %>
  <% else %>
    <label>
      <%= image_tag("new_dog.png", size: "100x100", class: "hidden clickable preview") %>
      <%= file_field_tag :upload, class: "hidden picture_upload" %>
      <%= f.hidden_field :data %>
    <label>
  <% end %>
</li>
