<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th class="text-right"><%= f.label I18n.t('name', scope: 'dog') %>:</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th class="text-right"><%= f.label I18n.t('status', scope: 'dog') %>:</th>
      <td><%= f.collection_select :status_id, Status.all, :id, :description, :prompt => false %></td>
    </tr>
    <tr>
      <th class="text-right"><%= f.label I18n.t('birthdate', scope: 'dog') %>:</th>
      <td><%= f.date_select :birtdate, discard_day: true, order: [:month, :year], start_year: Time.now.year - 20, end_year: Time.now.year %></td>
    </tr>
    <tr>
      <th class="text-right"><%= f.label I18n.t('admission_date', scope: 'dog') %>:</th>
      <td><%= f.date_select :admission, discard_day: true, order: [:month, :year], start_year: Time.now.year - 20, end_year: Time.now.year  %></td>
    </tr>
    <tr>
      <th class="text-right"><%= f.label I18n.t('primary_color', scope: 'dog') %>:</th>
      <td><%= f.collection_select :primary_color, Color.all, :id, :name, :prompt => false %></td>
    </tr>
    <tr>
      <th class="text-right"><%= f.label I18n.t('secondary_color', scope: 'dog') %>:</th>
      <td><%= f.collection_select :secondary_color, Color.all, :id, :name, :prompt => true %></td>
    </tr>
    <tr>
      <th class="text-right"><%= f.label I18n.t('size', scope: 'dog') %>:</th>
      <td><%= f.collection_select :size_id, Size.all, :id, :description, :prompt => false %></td>
    </tr>
    <tr>
      <th class="text-right" valign="top"><%= f.label I18n.t('origin', scope: 'dog') %>:</th>
      <td><%= f.text_area :origin, rows: 10, cols: 80 %></td>
    </tr>
    <tr>
      <th class="text-right" valign="top"><%= f.label I18n.t('personality', scope: 'dog') %>:</th>
      <td><%= f.text_area :personality, rows: 10, cols: 80 %></td>
    </tr>
    <tr>
      <td class="text-right" colspan="2">
        <%= f.submit %>
      </td>
    </tr>
  </table>
<% end %>
