<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birtdate %><br>
    <%= f.date_select :birtdate, discard_day: true, order: [:month, :year] %>
  </div>
  <div class="field">
    <%= f.label :admission %><br>
    <%= f.date_select :admission, discard_day: true, order: [:month, :year]  %>
  </div>
  <div class="field">
    <%= f.label :primary_color %><br>
    <%= f.collection_select :primary_color, Color.all, :id, :name, :prompt => false %>
  </div>
  <div class="field">
    <%= f.label :secondary_color %><br>
    <%= f.collection_select :secondary_color, Color.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :size_id %><br>
    <%= f.collection_select :size_id, Size.all, :id, :description, :prompt => false %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select :status_id, Status.all, :id, :description, :prompt => false %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_area :origin, rows: 10, cols: 50 %>
  </div>
  <div class="field">
    <%= f.label :personality %><br>
    <%= f.text_area :personality, rows: 10, cols: 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
