<% 
  dog = locals[:dog]
  modal_id = "modal#{dog.id}"
%>

<div class="thumbnail">
  <%= render "dog_pictures/carousel", locals: { dog: dog, size: "250x250"  } %>
  <div class="info">
    <h4><%= dog.name %> - <span class=<%= dog.sex.downcase %>><%= raw sex_symbol(dog.sex) %></span></h4>
    <%= image_tag(size_image(dog), size: "100x50") %>
    <h5><%= age(dog) %></h5>
    <%= render 'dogs/action_buttons', locals: { dog: dog, modal_id: modal_id } %>
  </div>
  <!-- Modal -->
  <div id="<%=modal_id%>" class="modal hidden fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
</div>
