<% dog = locals[:dog] %>
<div class="thumbnail">
    <%= image_tag("generic_dog.jpg", size: "171x180") %>
    <h3><%= dog.name %></h3>
    <!-- <p><%= dog.origin %></p> -->
    <ul class="pager">
      <li><%= link_to I18n.t('show', scope: 'dog'), dog %></li>
      <li><%= link_to I18n.t('adopt', scope: 'dog'), '#' %></li>
    </ul>
</div>