<h1 class="uppercase"><%= @dog.name %></h1>
<p class="status <%= status_class(@dog)%>"><%= @dog.status %></p>

<div class="show_pictures">
  <%= render "dog_pictures/carousel", locals: { dog: @dog, size: "250x250" } %>
</div>

<table class="center dog_show form">
  <tr>
    <th>Tamaño:</th>
    <td>
      <%= image_tag(size_image(@dog), size: "100x50") %><br />
      <small><%= size(@dog).name %></small>
    </td>
  </tr>
  <tr>
    <th>Sexo:</th>
    <td><p class=<%= @dog.sex.downcase %>><%= @dog.sex %></p></td>
  </tr>
  <tr>
    <th valign="top">Edad:</th>
    <td>
      <%= age(@dog) %><br />
      <small>(ingresó a PGA hace <%= distance_of_time_in_words_to_now @dog.admission %>)</small>
    </td>
  </tr>
  <tr>
    <th>Colores:</th>
    <td>
      <% @dog.colors.split(',').each do |color| %>
        <% c = Color.where("lower(name) = ?", color.downcase).take %>
        <div class="color" style="background-color: <%= c.code %>" title="<%= c.name %>"></div> 
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Personalidad:</th>
    <td>
    <% @dog.personality.split(',').each do |p| %>
      <span class='personality'><%= p %></span>
    <% end %>
    </td>
  </tr>
  <tr>
    <th valign="top">Historia:</th>
    <td class="story"><%= @dog.story %></td>
  </tr>
</table>
