<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Birtdate:</strong>
  <%= @dog.birtdate %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @dog.admission %>
</p>

<p>
  <strong>Primary color:</strong>
  <%= @dog.primary_color %>
</p>

<p>
  <strong>Secondary color:</strong>
  <%= @dog.secondary_color %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @dog.origin %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @dog.personality %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dog.size_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dog.status_id %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
