<% current_page = yield(:current_page) %>

<div id="header">
  <div id="logo">
    <h1><a href="#">Refugio PGA</a></h1>
    <p>un oasis para callejeros</p>
  </div>
</div>
<!-- end #header -->
<div id="menu">
  <ul>
    <li class=<%=nav_class(current_page, "home")   %>>
    <%= link_to "Principal", static_pages_home_path %>
    </li>
    <li class=<%=nav_class(current_page, "contact")   %>>
    <%= link_to "Contacto", static_pages_contact_path %>
    </li>
    <li class=<%=nav_class(current_page, "search")   %>>
    <%= link_to "Buscar", static_pages_search_path %>
    </li>
    <li class=<%=nav_class(current_page, "login")   %>>
    <%= link_to "Entrar", static_pages_login_path %>
    </li>
  </ul>
</div>